
<!-- <div *ngFor="let item of cartItems">
  <mat-card class="shoppingCart-card">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>veg</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <mat-icon class="removeButton" (click)="RemoveFromCart(item)">delete</mat-icon>
    </mat-card-actions>
  </mat-card>
</div> -->

<table *ngIf="cartItems.length>0">
  <th>Item Name</th>
  <th>Quantity</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th><mat-icon mat-stroked-button (click)="EmptyCart()">remove_shopping_cart</mat-icon></th>
  <tr *ngFor="let item of cartItems">
    <td>{{item.name}}</td>
    <td><input type="number" value="1"/></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

    <td><mat-icon class="removeButton" (click)="RemoveFromCart(item)">delete</mat-icon></td>
  </tr>
</table>

<div>
